In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('data_spot._cleanartistcsv.csv')
df_top_songs = pd.read_csv('SpotifyTopSongsByCountry.csv')

In [4]:
df_drop = df.drop(columns = ['Artists','Id','Mode','Key'])

In [5]:
df_drop.columns

Index(['Number of Records', 'Acousticness', 'Artist_clean', 'Danceability',
       'Duration Ms', 'Energy', 'Explicit', 'Instrumentalness', 'Liveness',
       'Loudness', 'Name', 'Popularity', 'Release Date', 'Speechiness',
       'Tempo', 'Valence', 'Year'],
      dtype='object')

In [7]:
df_arrange = df_drop[['Artist_clean','Release Date','Year','Acousticness','Danceability',
       'Duration Ms', 'Energy', 'Instrumentalness', 'Liveness', 'Loudness','Popularity', 'Speechiness', 'Tempo', 'Valence','Explicit','Number of Records']]

In [8]:
df_arrange.columns

Index(['Artist_clean', 'Release Date', 'Year', 'Acousticness', 'Danceability',
       'Duration Ms', 'Energy', 'Instrumentalness', 'Liveness', 'Loudness',
       'Popularity', 'Speechiness', 'Tempo', 'Valence', 'Explicit',
       'Number of Records'],
      dtype='object')

In [9]:
df_rename = df_arrange.rename(columns={"Artist_clean": "Artist",
                                      "Year": "Release_Year", "Number of Records": "Records"})

In [10]:
df_spotify = df_rename

In [11]:
df_spotify.head()

,Artist,Release Date,Release_Year,Acousticness,Danceability,Duration Ms,Energy,Instrumentalness,Liveness,Loudness,Popularity,Speechiness,Tempo,Valence,Explicit,Records
0,Otis Redding,9/15/1965,1/1/1965 12:00:00 AM,0.2520,0.658,156320,0.418,0.001250,0.165,-7.568,30,0.0266,75.015,0.613,0,1
1,Frédéric Chopin,1965,1/1/1965 12:00:00 AM,0.9880,0.458,266053,0.063,0.926000,0.133,-24.138,31,0.0592,61.492,0.061,0,1
2,B.B. King,1965,1/1/1965 12:00:00 AM,0.7410,0.678,158333,0.382,0.000000,0.653,-10.316,31,0.0422,120.643,0.795,0,1
3,The Beach Boys,3/8/1965,1/1/1965 12:00:00 AM,0.1220,0.569,190360,0.764,0.000155,0.070,-4.287,27,0.0275,136.345,0.847,0,1
4,The Barbarians,1/1/1965,1/1/1965 12:00:00 AM,0.0296,0.482,137867,0.570,0.000000,0.300,-9.870,29,0.0311,143.062,0.830,0,1

In [12]:
df_spotify_gb = df_spotify.groupby(['Artist']).mean()

In [13]:
df_spotify_gb.head(20)

,Acousticness,Danceability,Duration Ms,Energy,Instrumentalness,Liveness,Loudness,Popularity,Speechiness,Tempo,Valence,Explicit,Records
Artist,,,,,,,,,,,,,
""",",0.024107,0.560500,270983.166667,0.618667,0.073169,0.203100,-7.889500,0.000000,0.053583,128.048500,0.358000,0.0,1.0
"""Test for Victor Young""",0.927000,0.734000,175693.000000,0.474000,0.076200,0.737000,-10.544000,3.000000,0.256000,132.788000,0.902000,0.0,1.0
"""Weird Al"" Yankovic",0.186821,0.650792,218352.962264,0.693189,0.000045,0.160926,-9.691151,32.867925,0.082275,132.876604,0.764585,0.0,1.0
"""]",0.479571,0.632571,186169.714286,0.665714,0.000661,0.089943,-5.911286,7.571429,0.101400,111.482571,0.537714,0.0,1.0
$0dg0d,0.110000,0.732000,160171.000000,0.822000,0.000009,0.154000,-5.387000,0.000000,0.155000,141.948000,0.740000,1.0,1.0
$NOT,0.387800,0.822600,152263.600000,0.532800,0.000006,0.177020,-8.427800,73.600000,0.243860,92.879600,0.414500,1.0,1.0
$atori Zoom,0.239000,0.883000,141519.000000,0.625000,0.000000,0.076500,-4.098000,69.000000,0.245000,126.677000,0.871000,1.0,1.0
$tar$eed,0.037500,0.923000,130375.000000,0.172000,0.020200,0.082700,-15.646000,0.000000,0.385000,100.046000,0.176000,1.0,1.0
$uicideBoy$,0.158631,0.772206,148236.323529,0.624647,0.031354,0.210885,-6.653588,65.558824,0.158297,116.494647,0.258209,1.0,1.0
(EM),0.446000,0.462000,221832.000000,0.542000,0.095600,0.970000,-9.161000,4.000000,0.030800,99.403000,0.547000,0.0,1.0
(G)I-DLE,0.045800,0.384000,197320.000000,0.868000,0.000006,0.079700,-3.226000,76.000000,0.071100,95.027000,0.233000,0.0,1.0
(Hed) P.E.,0.005993,0.593667,261253.333333,0.895667,0.000003,0.128200,-5.163000,45.333333,0.095233,110.925000,0.413000,1.0,1.0
*NSYNC,0.182299,0.593822,237012.511111,0.717978,0.001438,0.233987,-6.134511,46.311111,0.042936,120.336356,0.557733,0.0,1.0
*spandrel,0.897000,0.513000,236644.000000,0.642000,0.034800,0.208000,-14.456000,0.000000,0.367000,107.057000,0.302000,0.0,1.0
+44,0.000367,0.416000,192787.000000,0.967000,0.000000,0.063200,-2.289000,53.000000,0.109000,171.032000,0.431000,1.0,1.0
-Sd-,0.010600,0.880000,451765.000000,0.494000,0.472000,0.115000,-7.633000,0.000000,0.183000,136.031000,0.261000,0.0,1.0
...And You Will Know Us by the Trail of Dead,0.008410,0.255000,273624.000000,0.858000,0.000355,0.513000,-5.085000,36.000000,0.069400,144.653000,0.237000,0.0,1.0
.ex-machina.,0.002750,0.543000,228206.000000,0.956000,0.000036,0.068100,-4.288000,0.000000,0.045700,120.094000,0.722000,1.0,1.0
//Tense//,0.000047,0.704000,326632.000000,0.844000,0.442000,0.266000,-9.378000,1.000000,0.030800,123.011000,0.656000,0.0,1.0
015B,0.489500,0.614950,235824.950000,0.556950,0.000461,0.191885,-6.011100,16.200000,0.064300,113.490500,0.446250,0.0,1.0

In [14]:
df_top_songs.columns

Index(['Country', 'Continent', 'Rank', 'Title', 'Artists', 'Album', 'Explicit',
       'Duration'],
      dtype='object')

In [15]:
df_songs_col = df_top_songs[['Artists','Album','Continent','Country','Rank']]

df_songs_col.head()

,Artists,Album,Continent,Country,Rank
0,"Lady Gaga, Ariana Grande",Rain On Me (with Ariana Grande),Global,Global,1
1,The Weeknd,After Hours,Global,Global,2
2,"DaBaby, Roddy Ricch",BLAME IT ON BABY,Global,Global,3
3,"SAINt JHN, Imanbek",Roses (Imanbek Remix),Global,Global,4
4,Drake,Dark Lane Demo Tapes,Global,Global,5

In [16]:
df_songs_col.head()

,Artists,Album,Continent,Country,Rank
0,"Lady Gaga, Ariana Grande",Rain On Me (with Ariana Grande),Global,Global,1
1,The Weeknd,After Hours,Global,Global,2
2,"DaBaby, Roddy Ricch",BLAME IT ON BABY,Global,Global,3
3,"SAINt JHN, Imanbek",Roses (Imanbek Remix),Global,Global,4
4,Drake,Dark Lane Demo Tapes,Global,Global,5

In [17]:
artists_df = df_top_songs[['Artists']]
artists_df

                         Artists
0       Lady Gaga, Ariana Grande
1                     The Weeknd
2            DaBaby, Roddy Ricch
3             SAINt JHN, Imanbek
4                          Drake
...                          ...
3145                         Vũ.
3146             BigDaddy, Emily
3147  Tóc Tiên, Da LAB, Touliver
3148                 Bich Phuong
3149                  The Weeknd

[3150 rows x 1 columns]

In [18]:
artists_songs_df = artists_df.Artists.str.split(",", expand=True)
artists_songs_df.head()

            0               1     2     3     4     5     6     7     8
0   Lady Gaga   Ariana Grande  None  None  None  None  None  None  None
1  The Weeknd            None  None  None  None  None  None  None  None
2      DaBaby     Roddy Ricch  None  None  None  None  None  None  None
3   SAINt JHN         Imanbek  None  None  None  None  None  None  None
4       Drake            None  None  None  None  None  None  None  None

In [19]:
df_top_songs['Artist_clean'] = artists_songs_df[0]

df_top_songs.columns

Index(['Country', 'Continent', 'Rank', 'Title', 'Artists', 'Album', 'Explicit',
       'Duration', 'Artist_clean'],
      dtype='object')

In [20]:
clean_top_songs = df_top_songs[['Artist_clean','Album','Continent','Country','Rank',]]

In [21]:
comp_data = pd.merge(df_spotify_gb, clean_top_songs, left_on = 'Artist', right_on = 'Artist_clean', how = 'inner')

In [22]:
comp_data.head()

comp_drop_glo = comp_data.loc[comp_data['Country']!='Global']

comp_drop_glo['Continent'].nunique()

6

In [23]:
comp_drop_glo.to_csv("complete_data_EM_3.csv")