In [2]:
import pandas as pd
import numpy as np
from pprint import pprint

In [3]:
#read in csv file
data = pd.read_csv("SpotifyTopSongsByCountry.csv")

In [6]:
#view data csv
data.head()

,Country,Continent,Rank,Title,Artists,Album,Explicit,Duration
0,Global,Global,1,Rain On Me (with Ariana Grande),"Lady Gaga, Ariana Grande",Rain On Me (with Ariana Grande),0,3:02
1,Global,Global,2,Blinding Lights,The Weeknd,After Hours,0,3:20
2,Global,Global,3,ROCKSTAR (feat. Roddy Ricch),"DaBaby, Roddy Ricch",BLAME IT ON BABY,1,3:01
3,Global,Global,4,Roses - Imanbek Remix,"SAINt JHN, Imanbek",Roses (Imanbek Remix),1,2:56
4,Global,Global,5,Toosie Slide,Drake,Dark Lane Demo Tapes,1,4:07

In [7]:
#create a dataframe with only Artists column
artists_df = data[['Artists']]
artists_df

                         Artists
0       Lady Gaga, Ariana Grande
1                     The Weeknd
2            DaBaby, Roddy Ricch
3             SAINt JHN, Imanbek
4                          Drake
...                          ...
3145                         Vũ.
3146             BigDaddy, Emily
3147  Tóc Tiên, Da LAB, Touliver
3148                 Bich Phuong
3149                  The Weeknd

[3150 rows x 1 columns]

In [8]:
#clean data to only include one artist name per column (delimiter is a comma)
cleaned_df = artists.Artists.str.split(",", expand=True)
cleaned_df.head()

NameError: name 'artists' is not defined

In [9]:
#add row[0], first artist name listed, to the orginial dataframe
data['First Artist'] = cleaned_df[0]

NameError: name 'cleaned_df' is not defined

In [72]:
#check to see if first artist column was added
data.head()

,Country,Continent,Rank,Title,Artists,Album,Explicit,Duration,First Artist
0,Global,Global,1,Rain On Me (with Ariana Grande),"Lady Gaga, Ariana Grande",Rain On Me (with Ariana Grande),0,3:02,Lady Gaga
1,Global,Global,2,Blinding Lights,The Weeknd,After Hours,0,3:20,The Weeknd
2,Global,Global,3,ROCKSTAR (feat. Roddy Ricch),"DaBaby, Roddy Ricch",BLAME IT ON BABY,1,3:01,DaBaby
3,Global,Global,4,Roses - Imanbek Remix,"SAINt JHN, Imanbek",Roses (Imanbek Remix),1,2:56,SAINt JHN
4,Global,Global,5,Toosie Slide,Drake,Dark Lane Demo Tapes,1,4:07,Drake

In [73]:
#get column names for dataframe
for col in data.columns:
    print(col)

Country
Continent
Rank
Title
Artists
Album
Explicit
Duration
First Artist

In [74]:
#reorder columns in dataframe so Artists and First Artist are next to each other
data = data[['Country', 'Continent', 'Rank', 'Title', 'Artists', 'First Artist', 'Album', 'Explicit', 'Duration']]
data

,Country,Continent,Rank,Title,Artists,First Artist,Album,Explicit,Duration
0,Global,Global,1,Rain On Me (with Ariana Grande),"Lady Gaga, Ariana Grande",Lady Gaga,Rain On Me (with Ariana Grande),0,3:02
1,Global,Global,2,Blinding Lights,The Weeknd,The Weeknd,After Hours,0,3:20
2,Global,Global,3,ROCKSTAR (feat. Roddy Ricch),"DaBaby, Roddy Ricch",DaBaby,BLAME IT ON BABY,1,3:01
3,Global,Global,4,Roses - Imanbek Remix,"SAINt JHN, Imanbek",SAINt JHN,Roses (Imanbek Remix),1,2:56
4,Global,Global,5,Toosie Slide,Drake,Drake,Dark Lane Demo Tapes,1,4:07
...,...,...,...,...,...,...,...,...,...
3145,Vietnam,Asia,46,ĐÃ TỪNG LÀ,Vũ.,Vũ.,ĐÃ TỪNG LÀ,0,4:20
3146,Vietnam,Asia,47,Mượn Rượu Tỏ Tình,"BigDaddy, Emily",BigDaddy,Mượn Rượu Tỏ Tình,0,3:18
3147,Vietnam,Asia,48,Ngày Tận Thế,"Tóc Tiên, Da LAB, Touliver",Tóc Tiên,Ngày Tận Thế,0,3:52
3148,Vietnam,Asia,49,Đi Đu Đưa Đi,Bich Phuong,Bich Phuong,Đi Đu Đưa Đi,0,3:40
3149,Vietnam,Asia,50,Blinding Lights,The Weeknd,The Weeknd,After Hours,0,3:20

In [1]:
data.to_csv("cleaned_top_song.csv")

NameError: name 'data' is not defined